<div class="container">
<h2 class="white-text center-align">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field white-text">
    <%= f.label :first_name, class: 'white-text' %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field white-text">
    <%= f.label :last_name, class: 'white-text' %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field white-text">
    <%= f.label :email, class: 'white-text' %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field white-text">
    <%= f.label :password, class: 'white-text' %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field white-text">
    <%= f.label :password_confirmation, class: 'white-text' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
