<nav>
    <div class="nav-wrapper red accent-4">
      <%= link_to 'Votr', root_path%>
      <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to 'Home', root_path%></li>
        <li><%= link_to 'Your Profile', users_show_path %></li>
        <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to 'Home', root_path%></li>
        <li><%= link_to 'Your Profile', users_show_path %></li>
        <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </nav>